.circle {
    width: 100px;
    height: 100px;
    border: 2px solid #343434;
    border-radius: 50%;
    margin: 30px auto 0;
}

.color_controller {
    text-align: center;
    margin-top: 30px;
}

.color_controller input {
    border: 2px solid #343434;
    text-align: center;
    background: #9ff;
    font-weight: 600;
}

